body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, 
        #673ab7, 
        #7e57c2, 
        #9575cd, 
        #b39ddb, 
        #d1c4e9, 
        #ede7f6);
    background-attachment: fixed;
    background-size: cover;
}

.sidebar {
    width: 80px;
    padding: 10px;
    background: linear-gradient(to bottom, 
        #673ab7, 
        #7e57c2, 
        #9575cd, 
        #b39ddb, 
        #d1c4e9, 
        #ba95f1);
}


.sidebar-header {
    margin-bottom: 30px;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.collapse.show ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}


.sidebar-header .btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.components {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.components li {
    margin: 20px 0;
    text-align: center;
}

.components li a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: block;
    font-size: 18px;
    color: #000;
    margin: 15px 0;
}

.social-icon {
    color: #673ab7;
}
.sidebar-icon{
    color: white
}


.card {
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  .car-image {
    height: 300px;
    object-fit: cover;
  }
  .card-body .row p {
    margin: 0;
  }
  .card-header {
    font-weight: bold;
    font-size: 1.2em;
  }