body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, 
        #673ab7, 
        #7e57c2, 
        #9575cd, 
        #b39ddb, 
        #d1c4e9, 
        #ede7f6);
    background-attachment: fixed;
    background-size: cover;
}

.d-flex {
    height: 100vh;
}

.sidebar {
    width: 80px;
    padding: 10px;
    background-color: #7e57c2;
}

.sidebar-header {
    margin-bottom: 30px;
}

.social-icons {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.collapse.show ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}


.sidebar-header .btn {
    font-size: 24px;
    background-color: transparent;
    border: none;
}

.components {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.components li {
    margin: 20px 0;
    text-align: center;
}

.components li a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.social-icons {
    text-align: center;
}

.social-icons a {
    display: block;
    font-size: 18px;
    color: #000;
    margin: 15px 0;
}

.main-content {
    padding: 40px;
    background-color: #f4f4f4;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.titulo {
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 3rem; 
    z-index: 10; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); 
}

.tittle {
    margin-top: 2%;
    margin-left: 2%;
}

.container {
    position: relative;
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: rgb(170, 12, 12);
    border-radius: 50%;
    z-index: 0;
}

.car-image {
    position: relative;
    max-width: 90%;
    height: auto;
    z-index: 1;
}

.bi {
    color: white;
}